In [1]:
%run arma.py
%run olsregr.py
%run timeseries.py
%run timeseriesutils.py

In [2]:
# Load data
data=pd.read_excel("Tbill10yr.xls",skiprows=14)

# set index and change names
data.columns=["Date",'Yield']

In [3]:
test = TimeSeries(data = data['Yield'].values, time_ticks = data['Date'].values)

In [4]:
myar = test.estimateAR(p = 2)

In [5]:
myar.__newey_west__(lags = 0)

In [6]:
myar.__newey_west__()

In [7]:
myar.__computeCovMatrix__()
myar.heteroskedasticCovMatrix

array([[ 0.00098538,  0.00024477, -0.0004256 ],
       [ 0.00024477,  0.00303794, -0.00308709],
       [-0.0004256 , -0.00308709,  0.00317153]])

In [8]:
myar.summary()

,point estimate,se (homoskedastic),se (White estimator),se Newey-West
beta 0,0.037293,0.023360,0.031391,0.034153
beta 1,1.303812,0.035280,0.055118,0.055570
beta 2,-0.309999,0.035279,0.056316,0.057362

         r2  adjused r2:
0  0.991209     0.991173